{% extends 'base.html' %}
{% block content %}

<h3 class="mb-4">My Posted Jobs</h3>

{% for job in jobs %}
<div class="card mb-3 shadow-sm p-3">

    <h5>{{ job.title }}</h5>
    <p>{{ job.description }}</p>
    <p>₹{{ job.salary }} | {{ job.location }}</p>

    <a href="/edit-job/{{ job.id }}/" class="btn btn-primary btn-sm">Edit</a>
    <a href="/delete-job/{{ job.id }}/" class="btn btn-danger btn-sm">Delete</a>
    <a href="{% url 'view_applicants' job.id %}" class="btn btn-info btn-sm">
    View Applicants
</a>

</div>
{% empty %}
<p>No jobs posted.</p>
{% endfor %}

{% endblock %}